.filtering-result-column-container {
    margin: 10px;
}

.filtering-result-column-list {
    width: 427px;
    height: 305px;
    border: 2px solid #B9B9B9;
    border-radius: 20px;
    margin-right: 5px;
    .filtering-result-column-title {
        display: flex;
        align-items: center;
        width: 100%;
        height: 47px;
        background-color: #B9B9B9;
        border-radius: 15px 15px 0 0;
        .filtering-result-column-title-text {
            margin: 0px 20px;
            font-family: "Freesentation-7Bold";
            font-size: 18px;
            color: #FFFFFF;
        }
    }
}

.filtering-result-column-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    
    .result-column-title {
        color: #FFFFFF;
        font-family: 'Freesentation-7Bold';
        font-size: 17px;
        margin-bottom: 5px;
    }
    .result-column-container {
        width: 100%;
        height: 84%;
        display: flex;
        flex-direction: column;
        background-color: rgba(28, 30, 28, 0.59);
        border-radius: 10px;
        overflow: auto;
        .result-column-list {
            width: fit-content;
            height: 25.9px;
            background-color: rgba(217, 217, 217, 0.15);
            border-radius: 10px;
            display: flex;         
            align-items: center;
            margin: 5px;
            margin-bottom: 7px;
            .result-column-name {
                color: #FFFFFF;
                font-size: 15px;
                font-family: 'Freesentation-5Medium';
                margin: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}