.filtering-result{
    width: 100%;
    height: 100vh;
    .filtering-result-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 20px;
    }
}
.filtering-result-column{
    width: 20%;
    .filtering-result-title {
        font-family: "Freesentation-9Black";
        font-size: 25px;
        color: #1ED863;
        margin-left: 20px;
        margin-bottom: 10px;
    }
}

.filtering-result-info-container {
    width: 23%;
    display: flex;
    flex-direction: column;
}

.go-to-home-button {
    width: 100%;
    height: 59px;
    background-color: #1ED863;
    border: none;
    border-radius: 20px;
    margin: 10px;
    font-size: 30px;
    font-family: 'Freesentation-9Black';
}