.statistics-container {
    width: 100%;
}

.statistics-graph {
    width: 100%;
    .statistics-graph-container {
        width: 100%;
    }
}

.statistics-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.statistics-button-wrapper {
    display: flex;
    width: 100%;
    height: 16px;
    gap: 12px;
    margin-bottom: 10px;
}

.statistics-button {
    display: flex;
    align-items: center;        
    justify-content: center; 
    text-align: center;
    width: 50%;
    padding: 8px 20px;
    font-size: 15px;
    font-family: 'Freesentation-6SemiBold';
    border-radius: 12px;
    background-color: #777676;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.statistics-button.active {
    background-color: #1ED863;
    color: #000000;
}

.date-range-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.toggle-button-container {
    display: flex;             
    width: 100%;
    height: 16px;
    gap: 12px;                  
}

.toggle-button {
    display: flex;
    align-items: center;        
    justify-content: center; 
    text-align: center;
    width: 50%;
    padding: 6px 18px;
    font-size: 15px;
    font-family: 'Freesentation-6SemiBold';
    border-radius: 12px;
    background-color: #777676;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.selected-option {
    display: flex;
    font-size: 20px;
    font-family: 'Freesentation-7Bold';
    color: #FFFFFF;
    gap: 5px;
    margin-bottom: 10px;
}

.selected-option-text {
    font-size: 20px;
    font-family: 'Freesentation-7Bold';
    color: #1ED863;
}

.toggle-button.active {
    background-color: #1ED863;
    color: #000000;
}

.graph-title {
    font-size: 20px;
    font-family: 'Freesentation-7Bold';
    color: #1ED863;
    margin: 5px;
}