.selectFilter{
    .selectFilter-title{
        font-family: "Freesentation-9Black";
        font-size: 25px;
        color: #1ED863;
        margin: 30px 0px 20px 0px;
    }
    .selectFilter-contents{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 0px 42.9px;
        padding-bottom: 30px;
    }
}